<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .main {
    width: 100% !important;
    height: calc(100% -1px) !important;
    background-color: #333;
  }

  .header {
    height: 75px;
    /* background-color: rgb(100, 61, 242); */
    box-shadow: 0 8px 6px -6px #242424;
    -webkit-box-shadow: 0 8px 6px -6px #242424;
    -moz-box-shadow: 0 8px 6px -6px #242424;
    box-shadow: 0 8px 6px -6px #242424;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
  }

  .footer {
    left: 0;
    right: 0;
    position: fixed;
    bottom: 0px;
    z-index: 300;
    box-shadow: 9px 1px 10px 0px #242424;
    padding-bottom: 2px;
    /* background-color: #6d3def; */
    height: 50px;
    font-size: 24px;
    color: white;
  }

  .table-body {
    top: 77px;
    left: 0px;
    right: 0px;
    position: fixed;
    background-color: white;
    vertical-align: middle;
    height: 100%;
  }

  .table-body-inside {
    margin: 4px;
    border: solid 2px black;
    height: calc(100% - 145px);
    /* border-radius: 20px; */
    background-color: #000;
    padding: 0px;
  }

  .table-body-inside table {
    width: 100%;
    margin: 0px;
    border-right: 1px solid white;
  }

  .table-body-inside table th {
    border: solid 2px white;
    /* font-size: 40px; */
  }

  .table-body-inside table td {
    border: solid 2px white;
    border-top: 0;
    border-right: 0;
    /* font-size: 60px; */
    padding-left: 5px;
  }

  .table-body-inside table td:last-child {
    border-right: 2px solid white;
  }

  .header table thead th {
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
  }

  .header table tfoot td {
    font: 25px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
  }

  .header table tbody td {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
  }
</style>
<div class="main" *ngIf="settings">
  <div class="header"
  [style.background-color]="settings.HeaderBackColor"
  >
    <table style="width: 100%;" [cellPadding]="0" [cellSpacing]="0">
      <thead>
        <tr>
          <th colspan="3" style="text-align: center;" [style.font-size.px]="header.TitleFontSize"
            [style.background-color]="header.TitleBackColor" [style.color]="header.TitleFontColor">{{header.TitleText}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 30%; text-align: left;" [style.font-size.px]="header.SubTitleLeftFontSize"
            [style.color]="header.SubTitleLeftFontColor" [style.background-color]="header.SubTitleLeftBackColor">
            {{header?.SubTitleLeftText}}
          </td>
          <td style="width: 40%;  text-align: center;" [style.font-size.px]="header.SubTitleMiddleFontSize"
            [style.color]="header.SubTitleMiddleFontColor" [style.background-color]="header.SubTitleMiddleBackColor">
            {{header?.SubTitleMiddleText}}</td>
          <td style="width: 30%;text-align: right;" [style.font-size.px]="header.SubTitleRightFontSize"
            [style.color]="header.SubTitleRightFontColor" [style.background-color]="header.SubTitleRightBackColor">
            {{now}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-body" [style.background-color]="tableBodyColor">
    <div class="table-body-inside">
      <table [cellPadding]="0" [cellSpacing]="0">
        <tbody>
          <tr>
            <th *ngFor="let col of columns" [style.width.%]="col.ColumnWidth"
              [style.font-size.px]="col.ColumnHeaderFontSize" 
              [style.background-color]="col.ColumnHeaderBackColor"
              [style.color]="col.ColumnHeaderFontColor"
              [style.text-align]="col.ColumnHeaderTextAlign">
              {{col.ColumnHeaderText}}
            </th>
          </tr>
        </tbody>
        <tbody>
          <tr *ngFor="let t of trains" style="height: 20%;">
            <td *ngFor="let col of columns" [style.width.%]="col.ColumnWidth"
              [style.font-size.px]="(t[col.ColumnName + '_FONTSIZE'] =='')? col.ColumnFontSize : t[col.ColumnName+'_FONTSIZE']"
              [style.background-color]="(t[col.ColumnName + '_BACKCOLOR'] =='')? col.ColumnBackColor : t[col.ColumnName+'_BACKCOLOR']"
              [style.color]="(t[col.ColumnName + '_FONTCOLOR'] =='')? col.ColumnFontColor : t[col.ColumnName+'_FONTCOLOR']"
              [style.text-align]="(t[col.ColumnName + '_TEXTALIGN'] =='')? col.ColumnTextAlign : t[col.ColumnName+'_TEXTALIGN']"
              [attr.colspan]="t[col.ColumnName + '_COLSPAN']"
              [style.display]="t[col.ColumnName + '_COLSPAN']=='0'?'none':'display'">
              {{ t[col.ColumnName]}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="footer"
    [style.background-color]="settings.FooterBackColor"
    [style.color]="settings.FooterColor"
  >
    <marquee>
      <span style="padding-right: 10px; padding-right: 10px;" *ngFor="let f of footers"
      [style.color]="f.FooterTextColor"
      >
        {{f.FooterText}} {{settings.FooterDelimeter}}
      </span>
    </marquee>
  </div>
</div>
<router-outlet></router-outlet>